#board{
    width: 560px;
    height: 550px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: blue;
    display: flex;
    flex-wrap: wrap;
}
.circle{
    width: 70px;
    height: 70px;
    border-radius:50%;
    background-color:white;
    margin:5px;
}
.redCircle{
    background-color: red;
}
.yellowCircle{
    background-color: yellow;
}

/* #winner{

} */
