body {
background-image: url(../images/colors.jpeg);
background-size: cover;
}
#board{
    width: 420px;
    height: 450px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
}
.circle{
    width: 50px;
    height: 50px;
    border-radius:50%;
    background-color:white;
	opacity: 0.2;
    margin:5px;
}
.redCircle{
    background-color: #BB147E;
	opacity: 1;
}
.yellowCircle{
    background-color: #3DE7F3;
	opacity: 1;
}

#winner,#Turn{
    width: 560px;
    height: 15px;
    margin: 20px auto;
    text-align: center;
    font: italic small-caps bold 20px Georgia, serif;

} 
.raise-button {
	letter-spacing: 1px;
	font-size: 12px;
	display: block;
	position: relative;
	border-radius: 2px;
	overflow: hidden;
	-webkit-transition: 0.2s ease-out;
	transition: 0.2s ease-out;
	font-family: sans-serif;
	cursor:pointer;
	border: none;
	padding: 12px 20px 12px 20px;
	margin: -20px auto;
	background-color: transparent;
	text-align: center;
	color: #444;
    width:110px
}
.raise-button:focus {
	outline: none;
}
.raise-button:hover {
	box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.3), 0 15px 15px 0 rgba(0, 0, 0, 0.4);
	background-color: #F8F8F8 !important;
	color: #222 !important;
}
.raise-button:active {
	-webkit-transition: 0.05s ease-out;
	transition: 0.05s ease-out;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.44), 0 1px 1px 0 rgba(0, 0, 0, 0.68);
}
.with-shadow {
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.35), 0 1px 1px 0 rgba(0, 0, 0, 0.59);
	background-color: rgba(255, 255, 255, 0.3);
}
#gamedata{
width: 450px;
margin: 0px auto;
font: 30px bold;
text-align: center;
color: white;
font-family: Brush Script, monospace;
}
#board{
cursor: pointer;
}